<%- include("includes/header.ejs") -%>
<body>
  <%- include("includes/nav.ejs") -%>
  <main><h1>Something went wrong, We're working on this error, please try again later.</h1></main>
  <%- include("includes/footer.ejs") %>
</body>