<%- include("includes/header.ejs") -%>
<body>
    <form action="/account" method="POST">
        <label for="user">Username:</label>
        <input type="text" name="user" id="user">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <button type="submit">Submit</button>
        <br>
        <% if (accounts.length > 0) { %>
            <label>Accounts:<br> <% accounts.forEach(account => { %><label><%= account['user'] %> <br></label> <% }) %></label>
        <% } else {%>
            <label>Accounts: None</label>
        <% } %>
    </form>
</body>