<header>
    <nav>
        <ul>
            <li><a href="/">Shop</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/admin/addproduct">Add Product</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/admin/adminproducts">Admin Products</a></li>
        </ul>
    </nav>
</header>